<h1>Liste des utilisateurs</h1>

<table>
<% @users.each do |user| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><b><%= user.name %></b></td>
    <td><%= user.admin ? "administrateur" : "" %></td>
    <td class="list_actions"><%= link_to 'Edit', edit_user_path(user) %></td>
    <td class="list_actions"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvel utilisateur', new_user_path %>
