<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% if @managed_stage %>

<h1><%=@managed_stage.title%></h1>
<h2><%= time_tag @managed_stage.start %> - <%= time_tag @managed_stage.end%></h2>

<b>Ateliers:</b>
<% @managed_stage.ateliers.order(:title).each do |atelier| %>
<ul>
	<li>
		<%= atelier.title %>
		<%= @managed_stage.inscriptions.where(:atelier_id => atelier.id).count() %>
	</li>
</ul>
<% end %>

<b>Inscrits: </b><%= @managed_stage.inscriptions.count %>

<% @managed_stage.inscriptions.joins(:adherent).order("adherents.nom").each do |inscription| %>
<ul>
	<li><%= "#{inscription.adherent.nom} #{inscription.adherent.prenom} - #{inscription.atelier.title}" %></li>
</ul>
<% end %>

<% end %>




