<%= currently_at 'Gestion du stage' %>

<% if @managed_stage %>

  <% content_for :title do "#{@managed_stage.title}" end %>
  <% content_for :subtitle do %>
    <%= time_tag @managed_stage.start %> - <%= time_tag @managed_stage.end%>
  <% end %>

	<section id="listing">
	
  <b>Inscrits: </b><%= @managed_stage.inscriptions.count %>
	<br/>
	<b>Filtres:</b>
	<%= link_to "aucun", managed_stage_path() %> |
	<%= link_to "attente confirmation 1", managed_stage_path(:conf_level => 1) %> |
	<%= link_to "attente confirmation 2", managed_stage_path(:conf_level => 2) %> 

	<br/><br/>
	<% if @inscriptions.size > 0%>
	  <div id="search-form">
		  <input id="search-field" type="text" autofocus placeholder="Recherche"/>
	  </div> 
		<br/>
		
	  <%= table_for_managed_stage(@inscriptions.by_name) %>
	  T&eacute;l&eacute;charger:
		<%= link_to "TSV", managed_stage_path(params.merge({format: "csv"})) %>  
		<%= link_to "XLS", managed_stage_path(params.merge({format: "xls"})) %>  
	
	  <% if params[:conf_level]%>
		  <p>
			  <b>Action globale:</b>
			  <%= button_to "Valider les confirmations #{params[:conf_level]}", bulk_bump_confirmation_state_path(params), data: { confirm: "Valider toutes les confirmations #{params[:conf_level]} en attente?" }, class: "gestion_button" %>
	    </p>
	  <% end %>
	<% end %>

	</section>
	<section id="details">
		<div id="inscription_details"></div> 
	</section>
		
<% end %>




