<%= currently_at 'Gestion du stage' %>

<% if @managed_stage %>

  <% content_for :title do "#{@managed_stage.title}" end %>
  <% content_for :subtitle do %>
    <%= time_tag @managed_stage.start %> - <%= time_tag @managed_stage.end%>
  <% end %>
	
  <b>Inscrits: </b><%= @managed_stage.inscriptions.visible.count %>
	<br/>
	<b>Filtres:</b>
	<%= link_to "aucun", managed_stage_path() %> |
	<%= link_to "attente confirmation 1", managed_stage_path(:filter => "conf1") %> |
	<%= link_to "attente confirmation 2", managed_stage_path(:filter => "conf2") %> |
	<%= link_to "cach&eacute;".html_safe, managed_stage_path(:filter => "hidden") %> 

	<br/><br/>

	<section id="listing">
	
	<% if @inscriptions.size > 0%>
	  <div id="search-form">
		  <input id="search-field" type="text" autofocus placeholder="Recherche"/>
	  </div> 
		<br/>
		
	  <%= table_for_managed_stage(@inscriptions.by_name) %>
	  T&eacute;l&eacute;charger: <%= link_to "TSV", managed_stage_path(params.merge({format: "csv"})) %>  
	
	  <% if params[:filter] and (params[:filter] == "conf1" or params[:filter] == "conf2") %>
		  <p>
			  <b>Action globale:</b>
			  <%= button_to "Valider les confirmations #{params[:filter][-1,1]}", bulk_bump_confirmation_state_path(params), data: { confirm: "Valider toutes les confirmations #{params[:filter][-1,1]} en attente?" }, class: "gestion_button" %>
	    </p>
	  <% end %>
	<% end %>

	</section>
	<section id="details">
		<div id="inscription_details"></div> 
	</section>
		
<% end %>




