<%= currently_at 'Home' %>

<% if @managed_stage %>

  <% content_for :title do "#{@managed_stage.title}" end %>
  <% content_for :subtitle do %>
    <%= time_tag @managed_stage.start %> - <%= time_tag @managed_stage.end%>
  <% end %>

  <br />
  
  <% @managed_stage.ateliers.each do |atelier| %>
    <article class="atelier">
      <header>
        <b><%= "#{atelier.title}, #{pluralize(atelier.inscriptions.count, 'inscrit')}:" %></b>
      </header>
      <p>
        <table>
          <%= render(
                partial: "inscriptions/inscription",
                collection: atelier.inscriptions.visible.by_name,
                locals: {mode: :overview}) %>
        </table>
      </p>
    <article>
  <% end %>
  
<% end %>




