<div class="app_form">

	<%= form_for(@adherent) do |f| %>
  <% if @adherent.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@adherent.errors.count, "error") %> prohibited this adherent from being saved:</h2>

    <ul>
      <% @adherent.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

	<fieldset>
		<legend>D&eacute;tails de l'adh&eacute;rent</legend>

		<table>
			<tr>
				<td><%= f.label :nom %>:</td>
				<td><%= f.text_field :nom %></td>
			</tr>
			<tr>
				<td><%= f.label :prenom %>:</td>
				<td><%= f.text_field :prenom %></td>
			</tr>
			<tr>
				<td><%= f.label :adresse %>:</td>
				<td><%= f.text_field :adresse %></td>
			</tr>
			<tr>
				<td><%= f.label :code_postal %>:</td>
				<td><%= f.number_field :code_postal %></td>
			</tr>
			<tr>
				<td><%= f.label :ville %>:</td>
				<td><%= f.text_field :ville %></td>
			</tr>
			<tr>
				<td><%= f.label :tel %>:</td>
				<td><%= f.text_field :tel %></td>
			</tr>
			<tr>
				<td><%= f.label :portable %>:</td>
				<td><%= f.text_field :portable %></td>
			</tr>
			<tr>
				<td><%= f.label :mail %>:</td>
				<td><%= f.text_field :mail %></td>
			</tr>
			<tr>
				<td><%= f.label :remarques %>:</td>
				<td><%= f.text_area :remarques %></td>
			</tr>
			<tr>
				<td collspan="2"><%= f.submit %></td>
			</tr>			
		</table>

	</fieldset>
	
	<% end %>
</div>
