<%= form_for(@adherent) do |f| %>
  <% if @adherent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adherent.errors.count, "error") %> prohibited this adherent from being saved:</h2>

      <ul>
      <% @adherent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :prenom %><br />
    <%= f.text_field :prenom %>
  </div>
  <div class="field">
    <%= f.label :adresse %><br />
    <%= f.text_field :adresse %>
  </div>
  <div class="field">
    <%= f.label :code_postal %><br />
    <%= f.number_field :code_postal %>
  </div>
  <div class="field">
    <%= f.label :ville %><br />
    <%= f.text_field :ville %>
  </div>
  <div class="field">
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :portable %><br />
    <%= f.text_field :portable %>
  </div>
  <div class="field">
    <%= f.label :mail %><br />
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :remarques %><br />
    <%= f.text_area :remarques %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
