<div class="app_form">

	<%= form_for(@adherent) do |f| %>
  <% if @adherent.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@adherent.errors.count, "error") %> prohibited this adherent from being saved:</h2>

    <ul>
      <% @adherent.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

	<fieldset>
		<legend>D&eacute;tails de l'adh&eacute;rent</legend>

		<table>
			<tr>
				<td><%= f.label :nom, 'Nom:' %></td>
				<td><%= f.text_field :nom %></td>
			</tr>
			<tr>
				<td><%= f.label :prenom, "Pr&eacute;nom:".html_safe %></td>
				<td><%= f.text_field :prenom %></td>
			</tr>
			<tr>
				<td><%= f.label :adresse, 'Adresse:' %></td>
				<td><%= f.text_field :adresse %></td>
			</tr>
			<tr>
				<td><%= f.label :code_postal, 'Code postal:' %></td>
				<td><%= f.text_field :code_postal, size: 5 %></td>
			</tr>
			<tr>
				<td><%= f.label :ville, 'Ville:' %></td>
				<td><%= f.text_field :ville %></td>
			</tr>
			<tr>
				<td><%= f.label :tel, "T&eacute;l&eacute;phone:".html_safe %></td>
				<td><%= f.text_field :tel, size: 15 %></td>
			</tr>
			<tr>
				<td><%= f.label :portable, 'Portable' %></td>
				<td><%= f.text_field :portable, size: 15 %></td>
			</tr>
			<tr>
				<td><%= f.label :mail, 'Mail:' %></td>
				<td><%= f.text_field :mail %></td>
			</tr>
			<tr>
				<td><%= f.label :remarques, 'Remarques:' %></td>
				<td><%= f.text_area :remarques, size: "40x5" %></td>
			</tr>
			<tr>
				<td collspan="2"><%= f.submit %></td>
			</tr>			
		</table>

	</fieldset>
	
	<% end %>
</div>
