<h1>Listing adherents</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Adresse</th>
    <th>Code postal</th>
    <th>Ville</th>
    <th>Tel</th>
    <th>Portable</th>
    <th>Mail</th>
    <th>Remarques</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adherents.each do |adherent| %>
  <tr>
    <td><%= adherent.nom %></td>
    <td><%= adherent.prenom %></td>
    <td><%= adherent.adresse %></td>
    <td><%= adherent.code_postal %></td>
    <td><%= adherent.ville %></td>
    <td><%= adherent.tel %></td>
    <td><%= adherent.portable %></td>
    <td><%= adherent.mail %></td>
    <td><%= adherent.remarques %></td>
    <td><%= link_to 'Show', adherent %></td>
    <td><%= link_to 'Edit', edit_adherent_path(adherent) %></td>
    <td><%= link_to 'Destroy', adherent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adherent', new_adherent_path %>
