<h1>Adh&eacute;rents</h1>

<table>

<% @adherents.each do |adherent| %>
  <tr>
    <td><b><%= "#{adherent.nom} #{adherent.prenom}" %></b></td>
    <td><%= adherent.ville %></td>
    <td><%= link_to 'Show', adherent %></td>
    <td><%= link_to 'Edit', edit_adherent_path(adherent) %></td>
    <td><%= link_to 'Destroy', adherent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adherent', new_adherent_path %>
