<h2><%= "#{@adherent.nom} #{@adherent.prenom}" %></h1>

<p>
  <b>Adresse:</b>
  <%= @adherent.adresse %>
</p>

<p>
  <b>Code postal:</b>
  <%= @adherent.code_postal %>
</p>

<p>
  <b>Ville:</b>
  <%= @adherent.ville %>
</p>

<p>
  <b>Tel:</b>
  <%= @adherent.tel %>
</p>

<p>
  <b>Portable:</b>
  <%= @adherent.portable %>
</p>

<p>
  <b>Mail:</b>
  <%= @adherent.mail %>
</p>

<p>
  <b>Remarques:</b>
  <%= @adherent.remarques %>
</p>

<p>
  <b>Inscriptions:</b>

	<table>
		<% @adherent.inscriptions.each do |inscription|%>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
			<td>
				<b><%= inscription.stage.title %></b>
			</td>
			<% if inscription.stage.end > DateTime.now %>
			<td>
				<%= link_to "atelier #{inscription.atelier.title}", edit_inscription_path(inscription) %>
			</td>
			<td>
				<%= button_to 'cancel', inscription, method: :delete, confirm: "Annuler l'inscription?" %>
			</td>
			<% else %>
			<td>
				<%= "atelier #{inscription.atelier.title}" %>
			</td>
			<td></td>
			<% end %>				
		</tr>
		<% end %>
		<% if @managed_stage and @managed_stage.inscriptions.where(:adherent_id => @adherent.id).empty? and @managed_stage.end > DateTime.now %>	
		<tr>
			<td colspan="2">
				<%= link_to "Inscription au stage: #{@managed_stage.title}", new_inscription_path(adherent_id: @adherent.id) %>
			</td>
		</tr>
	  <% end %>
	</table>
</p>

<p>

</p>

<%= link_to 'Edit', edit_adherent_path(@adherent) %> |
<%= link_to 'Back', adherents_path %>
