<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2><%= "#{@adherent.nom} #{@adherent.prenom}" %></h1>

<p>
  <b>Adresse:</b>
  <%= @adherent.adresse %>
</p>

<p>
  <b>Code postal:</b>
  <%= @adherent.code_postal %>
</p>

<p>
  <b>Ville:</b>
  <%= @adherent.ville %>
</p>

<p>
  <b>Tel:</b>
  <%= @adherent.tel %>
</p>

<p>
  <b>Portable:</b>
  <%= @adherent.portable %>
</p>

<p>
  <b>Mail:</b>
  <%= @adherent.mail %>
</p>

<p>
  <b>Remarques:</b>
  <%= @adherent.remarques %>
</p>

<p>
  <b>Inscriptions:</b>
  <ul>
		<% @adherent.inscriptions.each do |inscription|%>
		  <li><%= "#{inscription.stage.title} - #{inscription.atelier.title}"%></li>
		<% end %>
		<% if @managed_stage and @managed_stage.inscriptions.where(:adherent_id => @adherent.id).empty? %>	
		  <li><%= link_to "Inscription au stage: #{@managed_stage.title}", new_inscription_path(adherent_id: @adherent.id) %></li>
	  <% end %>
	</ul>
</p>

<p>

</p>

<%= link_to 'Edit', edit_adherent_path(@adherent) %> |
<%= link_to 'Back', adherents_path %>
