<%= form_for(@inscription) do |f| %>
  <% if @inscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inscription.errors.count, "error") %> prohibited this inscription from being saved:</h2>

      <ul>
      <% @inscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.hidden_field :adherent_id %>
	<%= f.hidden_field :stage_id %>

  <div class="field">
    <%= f.label :atelier_id %><br />
		<%= f.select :atelier_id, Atelier.where("stage_id = ?", @inscription.stage_id).collect {|s| [ s.title, s.id ] } %>
  </div>
  <div class="field">
    <%= f.label :remarques %><br />
    <%= f.text_area :remarques %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
