<div class="app_form">
  
  <%= form_for(@inscription) do |f| %>

		<% if @inscription.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@inscription.errors.count, "error") %> prohibited this inscription from being saved:</h2>
				<ul>
					<% @inscription.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<%= f.hidden_field :adherent_id %>
		<%= f.hidden_field :stage_id %>

		<fieldset>
			<legend>D&eacute;tails de l'inscription</legend>

			<table>
				<tr>
					<td><%= f.label :remarques, 'Remarques globales:' %></td>
					<td><%= f.text_area :remarques, size: "60x4"  %></td>
				</tr>

				<tr>
					<td colspan=2><hr /></td>
				</tr>
				
				<tr>
					<td><%= f.label :atelier_id, 'Atelier' %></td>
					<td><%= f.select :atelier_id, Atelier.where("stage_id = ?", @inscription.stage_id).collect {|s| [ s.title, s.id ] } %></td>
				</tr>

				<tr>
					<td><%= f.label :atelier_notes, "Remarques d'atelier:" %></td>
					<td><%= f.text_area :atelier_notes, size: "60x4"  %></td>
				</tr>

				<tr>
					<td colspan=2><hr /></td>
				</tr>     

				<tr>
					<td><%= f.label :vegetarian, 'Vegetarien:' %></td>
					<td><%= f.check_box :vegetarian %></td>
				</tr>

				<tr>
					<td><%= f.label :food_notes, "Remarques d'alimentation:" %></td>
					<td><%= f.text_area :food_notes, size: "60x4"  %></td>
				</tr>

				<tr>
					<td colspan=2><hr /></td>
				</tr>           
				
				<tr>
					<td><%= f.label :room, 'Chambre:' %></td>
					<td><%= f.text_field :room %></td>
				</tr>

				<tr>
					<td><%= f.label :housing_notes, "Remarques d'hebergement:" %></td>
					<td><%= f.text_area :housing_notes, size: "60x4"  %></td>
				</tr>

				<tr>
					<td colspan=2><hr /></td>
				</tr>           
				
				<tr>
					<td><%= f.label :minor, 'Mineur:' %></td>
					<td><%= f.check_box :minor %></td>
				</tr>

				<tr>
					<td colspan=2><hr /></td>
				</tr>           
				
				<tr>
					<td><%= f.label :conf1, 'Confirmation 1:' %></td>
					<td><%= f.check_box :conf1 %></td>
				</tr>

				<tr>
					<td><%= f.label :conf2, 'Confirmation 2:' %></td>
					<td><%= f.check_box :conf2 %></td>
				</tr>

				<tr>
					<td colspan=2><hr /></td>
				</tr>           
				
				<tr>
					<td><%= f.label :bill_requested, "Facture demand&eacute;e:".html_safe %></td>
					<td><%= f.check_box :bill_requested %></td>
				</tr>

				<tr>
					<td><%= f.label :bill_delivered, "Facture d&eacute;livr&eacute;e:".html_safe %></td>
					<td><%= f.check_box :bill_delivered %></td>
				</tr>
				
				<tr>
					<td colspan=2><hr /></td>
				</tr>           

				<tr>
					<td><%= f.label :hidden, "Cacher cette inscription:".html_safe %></td>
					<td><%= f.check_box :hidden %></td>
				</tr>
				
				<tr>
					<td colspan=2><hr /></td>
				</tr>           
				
				<% if mode == :create %>
					
					<%= f.fields_for(:billings) do |b| %>
						<tr>
							<td>Facturation:</td>
							<td>
								<table>
									<tr>
										<td><%= b.label :description, "Objet:" %></td>
										<td><%= b.text_field :description %></td>
									</tr>
									<tr>
										<td><%= b.label :price, "Montant:" %></td>
										<td><%= b.text_field :price, size: 8 %></td>
									</tr>
								</table>
							</td>
						</tr>
					<% end %>

					<tr>
						<td colspan=2><hr /></td>
					</tr>           

					<%= f.fields_for(:operations) do |op| %>
						<tr>
							<td>
								Acompte:
								<%= op.hidden_field :description, value: 'acompte' %>
							</td>
							<td>
								<table>
									<tr>
										<td><%= op.label :price, "Montant:" %></td>
										<td><%= op.text_field :price, size: 8 %></td>
									</tr>
									<tr>
										<td><%= op.label :method, "Moyen:" %></td>
										<td>
											<%= op.select :method, billingMethods %>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					<% end %>

					<tr>
						<td colspan=2><hr /></td>
					</tr>           

				<% end %>
				
				<tr>
					<td colspan="2"><%= f.submit %></td>
				</tr>
			</table>
		</fieldset>
		
  <% end %>

</div>
