<% content_for :title do "Listing inscriptions" end %>

<table>
  <tr>
    <th>Adherent</th>
    <th>Stage</th>
    <th>Atelier</th>
    <th>Remarques</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inscriptions.each do |inscription| %>
  <tr>
    <td><%= "#{inscription.adherent.nom} #{inscription.adherent.prenom}" %></td>
    <td><%= inscription.stage.title %></td>
    <td><%= inscription.atelier.title %></td>
    <td><%= inscription.remarques %></td>
    <td><%= link_to 'Show', inscription %></td>
    <td><%= link_to 'Edit', edit_inscription_path(inscription) %></td>
    <td><%= link_to 'Destroy', inscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inscription', new_inscription_path %>
