<h1>Inscription</h1>
<h2><%= "#{@inscription.adherent.nom} #{@inscription.adherent.prenom} - #{@inscription.stage.title}" %></h2>

<fieldset>
	<legend>D&eacute;tails</legend>

	<table>
				
		<% if not @inscription.remarques.strip.empty? %>
		<tr>
			<td><b>Remarques globales:</b></td>
			<td><%= simple_format @inscription.remarques %></td>
		</tr>
		<% end %>

		<tr>
			<td><b>Atelier:</b></td>
			<td><%= @inscription.atelier.title %></td>
		</tr>

		<% if not @inscription.atelier_notes.strip.empty? %>
		<tr>
			<td><b>Remarques d'atelier:</b></td>
			<td><%= simple_format @inscription.atelier_notes %></td>
		</tr>
		<% end %>
		
		<tr>
			<td><b>Chambre:</b></td>
			<td><%= @inscription.room %></td>
		</tr>

		<% if not @inscription.housing_notes.strip.empty? %>
		<tr>
			<td><b>Remarques d'h&eacute;bergement:</b></td>
			<td><%= simple_format @inscription.housing_notes %></td>
		</tr>
		<% end %>		
		
		<tr>
			<td><b>Mineur:</b></td>
			<td><%= @inscription.minor ? "oui" : "non" %></td>
		</tr>
		
	</table>

	<%= link_to 'Edit', edit_inscription_path(@inscription) %>
	
</fieldset>
 
<%= link_to 'Back', @inscription.adherent %>
