<p id="notice"><%= notice %></p>

<p>
  <b>Adherent:</b>
  <%= "#{@inscription.adherent.nom} #{@inscription.adherent.prenom}" %>
</p>

<p>
  <b>Stage:</b>
  <%= @inscription.stage.title %>
</p>

<p>
  <b>Atelier:</b>
  <%= @inscription.atelier.title %>
</p>

<p>
  <b>Remarques:</b>
  <%= @inscription.remarques %>
</p>


<%= link_to 'Edit', edit_inscription_path(@inscription) %> |
<%= link_to 'Back', inscriptions_path %>
