<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2><%= "#{@inscription.adherent.nom} #{@inscription.adherent.prenom} - #{@inscription.stage.title}" %></h2>

<p>
  <b>Atelier:</b>
  <%= @inscription.atelier.title %>
</p>

<p>
  <b>Remarques:</b>
  <%= @inscription.remarques %>
</p>


<%= link_to 'Edit', edit_inscription_path(@inscription) %> |
<%= link_to 'Back', @inscription.adherent %>
