<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stage_id %><br />
		<%= f.select :stage_id, Stage.all.collect {|p| [ p.title, p.id ] }, { :prompt => "Select a stage" } %>		
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
		<%= f.select :user_id, User.all.collect {|p| [ p.first_name, p.id ] }, { :prompt => "Select a user" } %>
  </div>
  <div class="field">
    <%= f.label :payed %><br />
    <%= f.check_box :payed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
