<%= form_for(@atelier) do |f| %>
  <% if @atelier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atelier.errors.count, "error") %> prohibited this atelier from being saved:</h2>

      <ul>
      <% @atelier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
    <%= f.label :stage_id %><br />
		<%= f.select :stage_id, Stage.order("start DESC").collect {|p| [ p.title, p.id ] } %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
