<h1>Listing ateliers</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Stage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ateliers.each do |atelier| %>
  <tr>
		<td><%= atelier.stage.title %></td>
    <td><%= atelier.title %></td>
    <td><%= link_to 'Show', atelier %></td>
    <td><%= link_to 'Edit', edit_atelier_path(atelier) %></td>
    <td><%= link_to 'Destroy', atelier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Atelier', new_atelier_path %>
