<h1><%= @atelier.stage.title %> - <%= @atelier.title %></h1>

<%= link_to 'Edit', edit_atelier_path(@atelier) %> 

<p>
	<b>Inscrits: </b><%= @atelier.stage.inscriptions.count %>

	<table>
		<% @atelier.stage.inscriptions.joins(:adherent).order("adherents.nom").each do |inscription| %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
			<td>
				<%= "#{inscription.adherent.nom} #{inscription.adherent.prenom}" %>
			</td>
		</tr>
		<% end %>
	</table>
</p>

<%= link_to 'Back', @atelier.stage %>
