<%= currently_at 'Stages' %>

<% content_for :title do "#{@atelier.stage.title} - #{@atelier.title}" end %>

<%= link_to 'Edit', edit_atelier_path(@atelier) %> 

<p>
	<b>Inscrits: </b><%= @atelier.stage.inscriptions.count %>

	<table>
		<% @atelier.inscriptions.by_name.each do |inscription| %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
			<td>
				<%= "#{inscription.adherent.nom} #{inscription.adherent.prenom}" %>
			</td>
		</tr>
		<% end %>
	</table>
</p>

<%= link_to 'Back', @atelier.stage %>
