<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Title:</b>
  <%= @atelier.title %>
</p>

<p>
  <b>Stage:</b>
  <%= @atelier.stage.title %>
</p>


<%= link_to 'Edit', edit_atelier_path(@atelier) %> |
<%= link_to 'Back', @atelier.stage %>
