<% content_for :title do "Stages" end %>

<table>
<% @stages.each do |stage| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><b><%= stage.title %></b></td>
    <td>du <%= time_tag stage.start %></td>
    <td>au <%= time_tag stage.end %></td>
    <td class="list_actions"><%= link_to 'Show', stage %></td>
    <td class="list_actions"><%= link_to 'Edit', edit_stage_path(stage) %></td>
    <td class="list_actions"><%= link_to 'Destroy', stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau stage', new_stage_path %>
