<h1>Stages</h1>

<table>
<% @stages.each do |stage| %>
  <tr>
    <td><b><%= stage.title %></b></td>
    <td>du <%= time_tag stage.start %></td>
    <td>au <%= time_tag stage.end %></td>
    <td><%= link_to 'Show', stage %></td>
    <td><%= link_to 'Edit', edit_stage_path(stage) %></td>
    <td><%= link_to 'Destroy', stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stage', new_stage_path %>
