<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @stage.title %>
</p>

<p>
  <b>Start:</b>
  <%= @stage.start %>
</p>

<p>
  <b>End:</b>
  <%= @stage.end %>
</p>

<p>
  <b>Ateliers:</b>
  <% @stage.ateliers.each do |atelier| %>
	<ul>
		<li><%= atelier.title %></li>
	</ul>
	<% end %>
</p>

<p>
	<%= link_to 'Ajouter un atelier', new_atelier_path(stage_id: @stage.id) %>
</p>

<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
