<%= currently_at 'Stages' %>

<% content_for :title do "#{@stage.title}" end %>
<% content_for :subtitle do %>
  <%= time_tag @stage.start %> - <%= time_tag @stage.end%>
<% end %>

<%= link_to 'Edit', edit_stage_path(@stage) %>

<p>
  <b>Ateliers:</b>

	<table>
		<%= render(partial: "ateliers/atelier", collection: @stage.ateliers, locals: {editable: true}) %>
		<% if @stage.end > DateTime.now %>
		<tr>
			<td colspan="2">
				<%= link_to 'Ajouter un atelier', new_atelier_path(stage_id: @stage.id) %>
			</td>
		</tr>
		<% end %>
	</table>
</p>

<%= link_to 'Back', stages_path %>
