<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= @stage.title %></h1>

<p>
  <b>D&eacute;but:</b>
  <%= time_tag @stage.start %>
</p>

<p>
  <b>Fin:</b>
  <%= time_tag @stage.end %>
</p>

<p>
  <b>Ateliers:</b>

	<table>
		<% @stage.ateliers.order(:title).each do |atelier| %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
			<td>
				<%= atelier.title %>
			</td>
		</tr>
		<% end %>
		<% if @stage.end > DateTime.now %>
		<tr>
			<td>
				<%= link_to 'Ajouter un atelier', new_atelier_path(stage_id: @stage.id) %>
			</td>
		</tr>
		<% end %>
	</table>
</p>

<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
