<p id="notice"><%= notice %></p>

<p>
  <b>Titre:</b>
  <%= @stage.title %>
</p>

<p>
  <b>Debut:</b>
  <%= @stage.start %>
</p>

<p>
  <b>Fin:</b>
  <%= @stage.end %>
</p>

<p>
  <b>Ateliers:</b>
	<ul>
		<% @stage.ateliers.each do |atelier| %>
		<li><%= atelier.title %></li>
		<% end %>
		<li><%= link_to 'Ajouter un atelier', new_atelier_path(stage_id: @stage.id) %></li>
	</ul>
</p>

<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
