<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @stage.title %>
</p>

<p>
  <b>Start:</b>
  <%= @stage.start %>
</p>

<p>
  <b>End:</b>
  <%= @stage.end %>
</p>


<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
