<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
<!-- START_HIGHLIGHT -->
  <title>Mydriase - gestion des stages</title>
<!-- END_HIGHLIGHT -->
  <%= stylesheet_link_tag "application" %><!-- <label id="code.slt"/> -->
  <%= javascript_include_tag "application" %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">
<!-- START_HIGHLIGHT -->
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Mydriase - gestion des stages" %><!-- <label id="code.depot.e.title"/> -->
  </div>
  <div id="columns">
    <div id="side">
      <ul>
				<li><%= link_to 'Home', gestion_path %></li>
				<% if current_user %>
				  <li><%= link_to 'Stages', stages_path %></li>
				  <li><%= link_to 'Adherents', adherents_path %></li>
				  <li><%= link_to 'Gestion du stage', managed_stage_path %></li>
				  <% if current_user.admin %>
				    <li><%= link_to 'Admin', users_path %></li>
				  <% end %>
				<% else %>				
				  <li><%= link_to "[Login]", login_path %></li>
				<% end %>
				<% if current_user %>
				<li><%= link_to "[Logout] #{current_user.name}", logout_path, method: :delete %></li>
				<% end %>
      </ul>
			

    </div>
    <div id="main">
			<% if content_for?(:title) %>
			  <h1><%= yield :title %></h1>
				<% if content_for?(:subtitle) %>
			    <h2><%= yield :subtitle %></h2>
				<% end %>
			<% end %>
			
			<% flash.each do |key, value| %>
			<% if not value.empty? %>
			<p id="notice"><%= value %></p>
			<% end %>
			<% end %>

      <%= yield %>

    </div>
  </div>
<!-- END_HIGHLIGHT -->
</body>
</html>
