<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
<!-- START_HIGHLIGHT -->
  <title>Mydriase - gestion des stages</title>
<!-- END_HIGHLIGHT -->
  <%= stylesheet_link_tag "application" %><!-- <label id="code.slt"/> -->
  <%= javascript_include_tag "application" %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">
<!-- START_HIGHLIGHT -->
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Mydriase - gestion des stages" %><!-- <label id="code.depot.e.title"/> -->
  </div>
  <div id="columns">
    <div id="side">
      <ul>
				<li><%= link_to 'Home', gestion_path %></li>
				<% if connected? %>
				<li><%= link_to 'Stages', stages_path %></li>
				<li><%= link_to 'Adherents', adherents_path %></li>
				<% end %>
				<% if connected? and administrator?%>
				<li><%= link_to 'Utilisateurs', users_path %></li>
				<% end %>
				<% if !connected? %>
				<li><%= link_to 'Log in', login_path %></li>
				<% end %>
      </ul>
			
			<% if connected? %>
			<%= button_to "Logout #{user_name}", logout_path, method: :delete %>
			<% end %>

    </div>
    <div id="main">
<!-- END_HIGHLIGHT -->
      <%= yield %><!-- <label id="code.depot.e.include"/> -->
<!-- START_HIGHLIGHT -->
    </div>
  </div>
<!-- END_HIGHLIGHT -->
</body>
</html>
